/* CONTACTO-------------------------------------- */

.contacto {
    color: white;
    border: solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto form {
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contacto form .input-box {
    display: flex;
    height: 8rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacto form .input-box input,
.contacto form textarea {
    
    width: 100%;
    padding: 1.5rem;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: .9rem;
    margin: .7rem 0;
    transition: 0.7s;
    &:hover {
        background-color: rgb(255, 255, 255, 0.9);
        box-shadow: 0 5px 0 goldenrod;
    }

}
.contacto form .input-box input {
    width: 49.3%;
}
.contacto form textarea {
    resize: none;
}

.boton-mensaje {
    border: none;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: goldenrod;
    padding: 6px 30px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 0 1rem  goldenrod;
    transition: 0.7s;
    &:hover{
        transform: scale(1.025);
        box-shadow: 0 0 1rem  rgb(255, 255, 255,);
        background-color: rgb(255, 255, 255, 0.7);
        color: black;
        
    
    }
}

