/* ------------------SECTION HOME-------------------- */

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 12rem 10%;
}

/* Ajustamos la sección de texto */
.inicio-content {
    display: flex;
    flex-direction: column;
    width: 100%;
     /* separado de la imagen en pantallas grandes */
}

.escrito h1 { 
    font-size: clamp(24px , 2.3vw, 4rem);
    margin: 0;
    padding: 0;
    color: #fff;
}
.escrito .texto-h3 {
    font-size: clamp(16px , 1.8vw, 3rem);
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}
.escrito p {
    margin: 1rem auto;
    color: rgba(255, 255, 255, 0.8);
    font-size: clamp(14px , 1vw, 1rem);
}

.fotografia1 {
    border: solid;
    box-shadow: 0 4px 8px 0 goldenrod;
    width: 15vw;
    border-radius: 30px;
    object-fit: contain;
}
.inicio-botones {
    display: flex;
    flex-direction: column;
}

.redes-sociales {
    
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    
}

.inicio-img {
    display: flex;
    justify-content: end;
}




/* Responsividad */
/* Pantallas pequeñas (mobile-first) 768 -1480 */
@media (width < 1024px) {
    .inicio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        place-content: center;
    }

    .inicio-img {
        order: 1;
        padding: 0;
        margin-bottom: 2rem; /* separa un poco la imagen del texto */
        place-content: center;
    }
    .inicio-content {
        margin: 0 auto;
        text-align: center;
        order: 2; /* el texto quedará debajo */
    }

    .inicio-botones {
        width: 100%;
        
    }
    
    .redes-sociales {
        justify-content: space-between;
    }
    .contenedor-btn{

    }

    .fotografia1 {
        width: 20vw; /* la imagen más grande en móviles para que se vea bien */
        min-width: 150px; /* limite máximo de ancho */
    }


    
}

@media (width < 720px) {
    .redes-sociales {
        margin: 1.5rem auto 0 auto;
        row-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
    }
    .redes-sociales span {
        font-size: 14px;
    }
    .contenedor-btn-home{
        margin: 0 auto;
    }

}
