/* ---------------------NAVBAR--------------------- */
.nav {
    /*Position fixed mantiene fijo el navbar - Y SACA AL FLUJO DEL CONTENEDOR*/
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6 );
    padding: 3rem 5%;
    z-index: 100;
    
}
.nav-container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*CREANDO VARIABLES PARA USARLAS EN OTRAS CLASES DE NAV*/
    --icon-open-menu: url("../img/assets/menu-open.svg");
    --transform-menu-show: translateX(-100%);

}
.nav-container:has(.nav-input:checked){
    --icon-open-menu: url("../img/assets/menu-close.svg");
    --transform-menu-show: translate(0);
}
.nav-figure, .nav-toggle, .nav-logo{
    /*ALINEANDO EL CONTENIDO DEL NAVBAR*/
    /*Z INDEX 10 para mostrar el logo y el label encima del navlist*/
    z-index: 10;
}
.nav-toggle{
    width: 40px;
    height: 40px;
    background-image: var(--icon-open-menu);
    object-fit: contain;
    /*COVER HACER QUE OCUPE TODO EL CONTENEDOR*/
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.5s;
}
.nav-input{
    display: none;
}

.nav-logo {
    /* margin: 0;
    padding: 0;
    width: 150px;
    object-fit: contain; */
    text-decoration: none;
    list-style: none; 
    font-family: "Leckerli One", cursive;
    font-size: 5rem;
}
.nav-list {
    transform: var(--transform-menu-show);
    /*POSITION FIXED SACA EL FLUJO DEL CONTENEDOR*/
    position: fixed;
    /*INSET 0 OCUPA EL 100% DE LA PANTALLA*/
    inset: 0;
    display: grid;
    /*PLACE CONTENT reemplaza a align-items,justify-content(center) en otras palabras centra el contendio tanto vertical como horizontalmente*/
    place-content: center;
    gap: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    list-style: none;
    transition: transform 0.5s;
    font-family: "Ysabeau SC", sans-serif;
    font-size: 18px;
}
.nav-link{
    font-weight: 350;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.nav-btn{
    background-color: #FAC122;
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 350;
    transition: background-color 0.1s ;
    &:hover{
        background-color: #b88d17;
        color: white;
    }
}

@media (width > 1100px) {
    /*DESDE 950px EN ADELANTE*/
    .nav-container{
        --transform-menu-show: translate(0);
    }
    .nav-toggle{
        display: none;
    }
    .nav-list{
        font-size: 18px;
        position: static;
        grid-auto-flow: column;
        /*PLACE CONTENT UNSET vuelvo al valor del contenido al original*/
        place-content: unset;
        padding: 0;
        gap: 8rem;

    }
    

    /*ANIMACION DE HOVERPARA EL UNDERLINE DE CADA ANCOR*/
    .nav-link {
        position: relative;
        text-decoration: none; /* Elimina cualquier subrayado predeterminado */
    }
    
    .nav-link::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: #FAC122;
        position: absolute;
        left: 0;
        bottom: -5px; /* Ajusta este valor según sea necesario */
        transform: scaleX(0);
        transition: transform 0.2s;
        box-shadow: 0 0 10px #FAC122;
    }
    
    .nav-link:hover::after {
        transform: scaleX(1);
    }

    .nav-btn-container{
        transition: 0.2s;
        &:hover{
            transform: scale(1.05);
        }
    }
    .nav-btn{
        background-color: #FAC122;
        color: white;
        padding: 1rem 2rem;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 350;
        transition: background-color 0.1s ;
        &:hover{
            background-color: #b88d17;
            color: white;
        }
    }
    /*-------------------------------------------------*/
}



